@import "../../variables";
@import "../../mixins";
@import "../../animation";

.vouchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
  gap: 2rem;
  background: $black;
  color: $white;

  @include breakpoint-up(large) {
    padding: 6rem 0;
    gap: 3rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: $medium;
    letter-spacing: -0.32px;
    color: $dark_white;
    margin-top: -0.5rem;

    @include breakpoint-up(large) {
      font-size: 1.475rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .voucher {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;
      user-select: none;

      h1 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: -0.32px;
        align-self: flex-start;
        margin: 0 0 0 4rem;

        @include breakpoint-up(medium) {
          margin: 0 0 0 8rem;
        }

        &:last-child {
          align-self: flex-end;
          margin: 0 4rem 0 0;

          @include breakpoint-up(medium) {
            margin: 0 8rem 0 0;
          }
        }

        @include breakpoint-up(large) {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
          width: 5rem;
          height: 5rem;
          background: rgba(255, 255, 255, 0.3);
          border-radius: 3rem;
        }

        h2 {
          font-size: 1.25rem;
          font-weight: $bold;
          padding-top: 2rem;

          @include breakpoint-up(large) {
            font-size: 1.475rem;
          }
        }

        p {
          font-size: 1.2rem;
          line-height: 1.8rem;
          font-weight: 600;
          padding: 0 2rem;
        }

        .name {
          p {
            font-size: 0.875rem;
            margin-top: -5%;
          }
        }
      }
    }
  }
}

.fade-dark {
  color: $dark_grey;
}

.swiper-container {
  width: 415px;

  @media screen and (min-width: 768px) {
    width: 730px;
  }
  @media screen and (min-width: 1024px) {
    width: 1000px;
  }
  @media screen and (min-width: 1440px) {
    width: 1400px;
  }
}
