// App color definition
$black: #000000;
$white: #ffffff;
$dark_white: #ffffff40;
$grey: #EEEEEE;
$light_grey: #e5e3e3;
$dark_grey: #B8B8B8;
$chat_color: #D9D9D94D;

// Font Weight
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;